body {
    font-family: 'Roboto', sans-serif;
}
.container-fluid {
    padding-left: 60px;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.name {
    font-size: 1.4rem;
}

p {
    font-size: 0.75rem;
}
h4 {
    font-size: 1rem;
    font-weight:400;
    /* padding-bottom: 4px; */
}

.small {
    font-size: 0.5rem;
    color: grey
}

.large {
    width: 50%;
}


.profile {
    margin-top: 40px;
}

.second {
    font-family: 'Roboto', sans-serif;
}

.first {
    color: antiquewhite;
    background-color: #445D48;
}
